# compiler / IDE
__pycache__/
.idea
.vscode
.DS_Store
.*.swp

# Jupyter Notebook
.ipynb_checkpoints
profile_default/
ipython_config.py

# huge variable files
var*.csv
applications data.csv

# scratch files
test*
